@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

body {
  font-family: 'Roboto', sans-serif;
  color: $dark-text;
}

.intro__text {
  font-family: 'Kaushan Script', cursive;
}