.list {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: $gray-bg;
  color: $gray-text;
  border-radius: 2px;

  &--lg{
    max-width: 700px;
  }

  &--md{
    max-width: 500px;
  }

  &__item {
    display: flex;
    justify-content: space-around;

    &:not(:last-child) {
      .list__attribute {
        border-bottom: 1px solid rgba($gray-text, 0.3);
      }
    }
  }

  &__attribute {
    display: flex;
    flex: 1;
    margin: 0px 10px;
    padding: 10px;
  }
}